<div class="left-container">
    <div class="left-container-nav-bar">
        <div class="search-icon"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></div>
        <div class="search-tab"><input type="text" placeholder="Search for places..."></div>
        <div class="location"><fa-icon [icon]="faLocation"></fa-icon></div>
        
    </div>
    <div class="left-container-data-box">
       <div class="left-container-temp-data">
         <div class="left-container-temp-img"><img src="/cloudy.png" alt="img"></div>
         <div class="left-container-temp-value">12<sup>°C</sup></div>
         <div class="left-container-temp-day-time">Monday , 16:00 </div>
       </div>

       <div class="divinding-line"></div>

       <div class="left-container-other-data">
        <div class="left-container-temp-summary">
            <div class="left-container-temp-summary-phrase-img"><fa-icon [icon]="faCloud"></fa-icon></div>
            <div class="left-container-temp-summary-value">Mostly Cloudy</div>
        </div>

       <div class="left-container-rain-stats">
        <div class="left-container-rain-stats-img"><fa-icon [icon]="faCloudRain"></fa-icon></div>
        <div class="left-container-rain-stats-value">Rain-30%</div>
       </div>

       <div class="left-container-location-details">
        <div class="left-container-location-img"><img src="/new-york-city.jpg" alt=""></div>
        <div class="left-container-location-name">New York ,USA</div>

       </div>

       </div>
    </div>
</div>