<div class="right-container">
    <div class="right-container-nav-bar">
      <div class="nav-bar-tabs">
        <div class="today" (click)="onTodayClick()" [className]="today == true?'today today-active':'today'">Today</div>
        <div class="week"(click)="onWeekClick()" [className]="week == true?'week week-active':'week'">Week</div>
        <div class="underline" [className]="today == true?'underline underline-today':'underline underline-week'"></div>
      </div>
       <div class="nav-bar-metrics">
        <div class="celsius" (click)="onCelsiusClick()" [className]="celsius == true?'celsius celsius-active':'celsius'">°C</div>
        <div class="fahrenheit"(click)="onFahrenheitClick()" [className]="fahrenheit == true?'fahrenheit fahrenheit-active':'fahrenheit'">°F</div>
        <div class="right-container-nav-profile"><img src="/profile.jpg" alt="img"></div>
       </div>
    </div>
    <div class="right-container-data-box">
      <div class="right-container-weeks-card" *ngIf="week == true">
        <div class="card">
          <div class="card-day">Sun</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-3°</span></div>
        </div>
        <div class="card">
          <div class="card-day">Mon</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-3°</span></div>
        </div>
        <div class="card">
          <div class="card-day">Tue</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-3°</span></div>
        </div>
        <div class="card">
          <div class="card-day">Wed</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-3°</span></div>
        </div>
        <div class="card">
          <div class="card-day">Thu</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-3°</span></div>
        </div>
        <div class="card">
          <div class="card-day">Fri</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-3°</span></div>
        </div>
        <div class="card">
          <div class="card-day">Sat</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value"><span class="temp-max">15°</span> <span class="temp-min">-3°</span></div>
        </div>
      </div>
      <div class="right-container-today-card" *ngIf="today == true">
        <div class="card">
          <div class="card-day">16:00</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value">15°</div>
        </div>
        <div class="card">
          <div class="card-day">16:00</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value">15°</div>
        </div>
        <div class="card">
          <div class="card-day">16:00</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value">15°</div>
        </div>
        <div class="card">
          <div class="card-day">16:00</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value">15°</div>
        </div>
        <div class="card">
          <div class="card-day">16:00</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value">15°</div>
        </div>
        <div class="card">
          <div class="card-day">16:00</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value">15°</div>
        </div>
        <div class="card">
          <div class="card-day">16:00</div>
          <div class="card-temp-img"><img src="/sunny.png" alt=""></div>
          <div class="card-temp-value">15°</div>
        </div>
       
      </div>

      <div class="right-container-today-high">
        <div class="right-container-today-high-title">Today's Highlight</div>
        <div class="right-container-today-high-cards">
          <div class="right-container-today-high-card">
            <div class="right-container-today-high-card-tile">UV Index</div>
            <div class="gauge">
              <div class="gauge-body">
                <div class="gauge-fill"></div>
                <div class="gauge-cover"></div>
              </div>
            </div>
            <div class="right-container-today-high-value">5</div>
          </div>
          <div class="right-container-today-high-card">
            <div class="right-container-today-high-card-tile">Wind Status</div>
            <div class="wind-speed-value">7.70 <span style="font-size: 18px" >km/h</span></div>
            <div class="wind-status-img"><fa-icon [icon]="faWind"></fa-icon></div>
          </div>
          <div class="right-container-today-high-card">
            <div class="right-container-today-high-card-tile">Sunrise & Sunset</div>
           <div class="sunrise-sunset-value">
            <div class="sunrise">
              <div class="sunrise-img"><img src="/sun rise.png" alt=""></div>
              <div class="sunrise-time">6:35 AM </div>
            </div>
            <div class="sunset">
              <div class="sunset-img"><img src="/sun set.png" alt=""></div>
              <div class="sunset-time">5:42 PM</div>
            </div>
           </div>
          </div>
        </div>

        <div class="right-container-today-high-cards">
          <div class="right-container-today-high-card">
            <div class="right-container-today-high-card-tile">Humidity</div>
            <div class="wind-speed-value" style="font-size: 50px; margin-bottom: 20px;">12<sup style="font-size: 18px" >%</sup></div>
            <div class="wind-status-img" style="margin-right: 40px; margin-bottom: 5px;">Normal</div>
          </div>
          <div class="right-container-today-high-card">
            <div class="right-container-today-high-card-tile">Visibility</div>
            <div class="wind-speed-value" style="font-size: 50px; margin-bottom: 20px;">5.2<span style="font-size: 18px" >km</span></div>
            <div class="wind-status-img" style="margin-right: 40px; margin-bottom: 5px;">Average</div>
          </div>
          <div class="right-container-today-high-card">
            <div class="right-container-today-high-card-tile">Air Quality</div>
            <div class="wind-speed-value" style="font-size: 50px; margin-bottom: 20px;">105</div>
            <div class="wind-status-img" style="margin-right: 50px; margin-bottom: 5px;">Unhealthy</div>
          </div>
        </div>

      </div>
    </div>
</div>
